html{
    background-color: azure;
}
.colours {
    border: solid 1px black;
    height: auto;
    width: 80%;
    
}
h1 {
    color: blue;
    text-align: center;
}

h2 {
    padding: 2px;
    margin-left: 10px;
    position: relative; 
    left: 36px;
    
}

.colourBox {
    border: solid 2px black;
    text-align: center;
    padding: 15px;
    margin: 10px;
    position: relative;
    top: 1px;
    left -25px;
    display:inline-block; 
    width: 20%;
    height: 50px; 
}   
#black{
    background-color: black;
    color: white;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}

.fonts {
    margin-top: 4px;
    border: solid 1px cornflowerblue; 
    height: auto; 
    width: 80%; 
}

/* Font section*/

#eduOne{
    font-family: "Edu TAS Beginner";
    margin-top: 5px;
}
#eduTwo{
    font-family: "Edu TAS Beginner";
    font-weight: 500;
}
#eduThree{
    font-family: "Edu TAS Beginner";
    font-weight: 700;
}
#silkOne {
    font-family: Silkscreen;
    margin-top: 5px;
}
#silkTwo {
    font-family: Silkscreen;
    font-weight: 700;
}
#silkThree {
    font-family: Silkscreen;
    font-style: italic;
}
#schiOne {
    font-family: "Schibsted Grotesk";
    margin-top: 5px;
}
#schiThree {
    font-family: "Schibsted Grotesk";
    font-weight: 700;
    font-style: italic;
}
.fontH{
    margin-bottom: 0;
    text-decoration: underline;
}
.exampleFont{
    display: inline-block;
    margin-left: 50px;
}

/* Text Style */

.style{
    margin-top: 4px;
    border: solid 1px steelblue;
    height: auto;
    width: 80%;
}